@use "@angular/material" as mat;
@use "./app/themes/anakiwa_theme-colors.scss";
@use "./app/themes/aquamarine_theme-colors.scss";

html {
  background: var(--mat-sys-surface);
  font-family: "Montserrat";
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: anakiwa_theme-colors.$primary-palette,
      ),
      typography: Montserrat,
      density: 0,
    )
  );
}
