<div class="landing-container">
  <mat-card class="landing-card mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>
        <h1>
          Welcome to <span class="app-name">SwimApp</span>
        </h1></mat-card-title
      >
      <mat-card-subtitle
        >Track your swimming progress with us!</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p class="landing-text">
        Don't have an account?
        <a [routerLink]="['/register']" class="link">register</a> here<br />
        or <a [routerLink]="['/login']" class="link">login</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
