.home-container {
  background: linear-gradient(to bottom right, #e0f7fa, #ffffff);
  height: 100vh;
}
.toolbar-container {
  background: linear-gradient(to bottom right, #e0f7fa, #ffffff);
}
.spacer {
  flex: 1 1 auto;
}
.grid-container {
  background: linear-gradient(to bottom right, #e0f7fa, #ffffff);
  margin: 20px;
}
.home-grid {
  background: linear-gradient(to bottom right, #e0f7fa, #ffffff);
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
}
.card-content {
  text-align: center;
}
